 /* Stylesheet */
  * {
    margin: 0;
  }

  header {
      width: 100%;
      display: inline-block;
      position: fixed;
      background-color: hsl(31, 92%, 66%);
      height: 160px;
      z-index: 1;
  }

  body {
      height: 1000px;
  }
  
  #img-header {
      width: 100px;
      height: 100px;
      padding-right: 30px;
  }

  /*Navigation bar*/
  #nav-bar {
      padding-top: 10px;
      display: inline-block;
      width: 150px;
      font-size: 32px;
      justify-content: left;
      padding-right: 21%;
      list-style-type: none;
      font-family: 'VT323', monospace;

  }

  /*Span for title*/
  #title {
      font-size: 51px;
      font-weight: 900;
      font-family: 'VT323', monospace;

  }

  /* Top content*/
  
  a:link {
      text-decoration: none;
      color: black;
  }
  a:hover {
      color: blue;
  }

  /*Beer content and section*/
  #beer {
      text-decoration: none;
      border: none;
      font-size: 32px;
      position: relative;
      font-family: 'VT323', monospace;

  }

  #beer-content {
      color: hsl(0, 0%, 34%);
      padding-top: 15%;
      text-align: center;
      margin-left: 15%;
      margin-right: 15%;
      font-size: 21px;
      font-family: 'Roboto Slab', serif;
      letter-spacing: 0.1em;

  }

  /* Class for box containers / ALL SECTIONS */
   .box {
      width: 250px;
      height: 250px;
      margin: 10px 20px 0px 20px;
      display: flex;
      justify-content: center;
      
  } 
  
  #beer-one{
      width: 225px;
      height: 225px;
      margin: 12.5px 0px 12.5px 0px;
  }

  #beer-two{
      width: 225px;
      height: 225px;
      margin: 12.5px 0px 12.5px 0px;
  }

  .one{
    background-color:  hsl(31, 79%, 52%);
  }
  .two{
      background-color: hsl(31, 79%, 52%);
  }
  .three{
      background-color: hsl(31, 79%, 52%);
  }
  .four{
      background-color: hsl(31, 79%, 52%);
  }

  /* Class for box containers / ALL SECTIONS */
   .container{
      display: inline-flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      padding-top: 3.5%;
      padding-bottom: 3.5%;
  } 
  
  /* Wine content and section */
  #wine{
    text-decoration: none;
    border: none;
    font-size: 32px;
    position: relative;
    font-family: 'VT323', monospace;
  }

  #wine-content{
    color: red;
    padding-top: 5%;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 21px;
  }

  .container{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 3.5%
}


  @media(max-width: 800px){

  }


