 /* Stylesheet */
  * {
    margin: 0;
  }

  header {
      width: 100%;
      display: inline-block;
      position: fixed;
      background-color: hsl(31, 92%, 66%);
      height: 160px;
  }

  body {
      height: 1000px;
  }
  
  #img-header {
      width: 100px;
      height: 100px;
      padding-right: 30px;
  }

  /*Navigation bar*/
  #nav-bar {
      padding-top: 10px;
      display: inline-block;
      width: 150px;
      font-size: 28px;
      justify-content: left;
      padding-right: 20%;
      list-style-type: none;
  }

  /*Span for title*/
  #title {
      font-size: 43px;
      font-weight: 800;
  }

  /* Top content*/
  #top {
      padding-top: 200px;
      z-index: -1;
      text-align: center;
  }
  a:link {
      text-decoration: none;
      color: black;
  }
  a:hover {
      color: blue;
  }

  /*Beer section*/
  #beer {
      text-decoration: none;
      border: none;
      font-size: 32px;
      position: relative;
  }
  #beer:hover {
      font-size: 32px;
      width: 300px;
      height: 100px;
      background-color: #0F5897;
  }
  #drink-content {
      color: red;
      padding-top: 15%;
      text-align: center;
      margin-left: 15%;
      margin-right: 15%;
      font-size: 21px;
  }

  /* Box Containers */
  .box {
      width: 150px;
      height: 150px;
      margin: 10px;
  }
  .one{
    background-color: red;
  }

  .two{
      background-color: violet;
  }

  #container{
      display: inline-flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
  }



