/* css stylesheet*/
* {
    box-sizing: border-box;
    border: 1px solid red;
    margin: 0px auto;
}

main {
    display: grid;
    grid-template-areas: "head head"
                         "body body";
    grid-template-rows: repeat(3, 500px);
    grid-template-columns: 1fr;
    justify-items: left;
    align-items: stretch;
    width: 1000px;
    grid-gap: 10px;

}

.main-body {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: cadetblue;
    grid-area: 1 1 7 7; 
}

.second-body {
    font-size: 18px;
    font-family: "Creepster";
    color: gold; 
    height: 300px;
}
.main-body img {
    grid-area: left;
    height: 700px;
    width: 900px;
    justify-content: left;
    clear: both;
    float: left;
}

h1 {
    font-family: "Creepster";
    font-size: 50px;
    color: rgba(100%, 0%, 0%, 0.8);
    grid-area: second;
    box-align: left;
}

header {
    background-color: blanchedalmond;
    height: 200px;
    width: 100%;
    text-align: center;
    grid-area: auto;
    
}

.styled {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    font-size: 28px;
}

#test-font {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 32px;
    letter-spacing: 0.2em
}

#test-image {
    bottom: 0px;
    align-content: center; 
}
